---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { home } from "./constants";
import Header from "../components/Header.astro";

const posts = await getCollection("posts");

const ogUrl = new URL(Astro.url.pathname, Astro.site);
const ogImage = new URL("/open-graph/home", Astro.site);
---

<Layout title={home.title} description={home.description} image={ogImage.toString()} url={ogUrl.toString()}>
  <main class="max-w-2xl mx-auto px-4 py-12">
    <Header>
      <div class="mb-12">
        <h1 class="text-3xl font-bold mb-2">{home.title}</h1>

        <p class="text-gray-500 dark:text-gray-400">{home.description}</p>
      </div>
    </Header>

    <section>
      <h2 class="text-xl font-semibold mb-6">Recent Posts</h2>
      <div class="space-y-8">
        {
          posts.map((post) => (
            <article class="border-b border-b-gray-200 dark:border-b-gray-800 pb-4">
              <a href={`/posts/${post.id}`} class="group block">
                <h3 class="text-lg font-medium group-hover:text-gray-500 dark:group-hover:text-gray-400 transition-colors">
                  {post.data.title}
                </h3>

                <p class="opacity-80 mt-1 mb-2">{post.data.description}</p>

                <time class="text-sm text-gray-500 dark:text-gray-400 block">{new Date(post.data.pubDate).toLocaleDateString()}</time>
              </a>
            </article>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
